# gems and ruby for blog dir
vendor/
.bundle/
.gem/
.rbenv-version
.ruby-version
.ruby-gemset

# lock file of Bundler
# Gemfile.lock

# cache and log
.log/
tmp/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# build file of Jekyll
_site/
