---
layout: post
title: Project
description: "{{ site.description }} - Project"
permalink: /project/
banner: "/static/media/images/project-entry.webp"
lang: en
---

<ul class="double-spaced">
  {% assign projects = site['project'] | sort: 'date' | reverse %}
  {% for project in projects %}
    {% if project.phony != true %}
      <li>
        <strong>{{ project.date | date: '%d/%-m/%y' }}</strong>:
        {% if project.hascontent %}
          <a href="{{ project.url }}">{{ project.title }}</a>
        {% else %}
          {{ project.title }}
        {% endif %}
        <br>
        {% if project.repourl %}
          <a href="{{ project.repourl }}">Repo</a>
        {% else %}
          Repo
        {% endif %}
        |
        {% if project.demourl %}
          <a href="{{ project.demourl }}">Demo</a>
        {% else %}
          Demo
        {% endif %}
        {% if project.noteurl %}
          |
          <a href="{{ project.noteurl }}">Note</a>
        {% endif %}
        {% if project.details %}
          <br>
          {{ project.details }}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
