---
layout: page
title: "Projects"
permalink: /project/
---

<ul class="double-spaced">
  {% assign projects = site['project'] | sort: 'date' | reverse %}
  {% for project in projects %}
    <li>
      <strong>{{ project.date | date: '%-m/%d' }}</strong>:
      {% if project.ready %}
        <a href="{{ project.url }}">{{ project.title }}</a>
      {% else %}
        {{ project.title }} [coming soon]
      {% endif %}
      {% if project.details %}
        <br>
        ({{ project.details }})
      {% endif %}
    </li>
  {% endfor %}
</ul>
